{% extends "atYourService/base.html" %}
{% block content %}
    <h2 style="color: black"> About US</h2>

    <p style="font-size:1.3rem; padding-top:1rem"><b>atYourService</b> is an Easier, Simpler & Better way of finding Workers. Our platform is very easy to use and Connects you with Workers in the vicinity, preferably within 3-5 km of your search location</p>

    <p style="font-size:1.3rem">Our objective is to provide a platform which is easy, quick, reliable & free of cost that connects employers with blue-collar workers without a middle man.</p>



{% endblock content %}